form(action='/create',method='post',name='create')
	- if (flash.error)
		p.error= flash.error
	p
		label(for='mindmapname') Name your mindmap
		input(type='text',name='mindmapname',id='mindmapname')
	p
		input(type='submit',value='create')

#rooms
	ul
	-mindmaps.forEach(function(mindmap){
		li
			a(href='/mindmap/#{mindmap.name}')=mindmap.name
	-})
