form(action='/create',method='post',name='create')
	p
		label(for='room') Name your mindmap
		input(type='text',name='room',id='room')
	p
		input(type='submit',value='create')

#rooms
	ul
	-rooms.forEach(function(room){
		li
			a(href='/workspace/#{room.name}')=room.name
	-})
