h1 Mindmapper!

p Here you can plan out your ideas collaboratively by connecting bubbles.First of all, Enter a name for your map. The url or link to your map is then generated. You can share this with others and watch each other's progress on the fly.

p To add an idea : double click anywhere on the map and enter a name for it.

p To connect 2 ideas : click the first idea to select it (it should be highlighted in white), double click to add a new idea connected to it.

p To remove an idea : click the idea to select it hit the delete key on your keyboard. (Sorry Apple peeps!)

h2 The Team

p Mindmappr was created for the Node Knockout competition by

ul#team
	li
		a(href='http://twitter.com/raoulmillais', style='text-decoration: underline') Raoul Millais
	li 
		a(href='http://twitter.com/tonyto85', style='text-decoration: underline') Tony To
	li
		a(href='http://twitter.com/tonydenyer', style='text-decoration: underline') Tony Denyer
	li
		a(href='http://twitter.com/lfsaw', style='text-decoration: underline') Will Munn
	
p If you like it, please don't forget to vote for us using the button at the top.

p
	a(href='/', style='text-decoration: underline') Back to home


