!!! 5

html

head
	meta(http-equiv="Content-type", content="text/html; charset=utf-8")
	title App

body!= body
	link(type='text/css', rel='stylesheet', href='/stylesheets/main.css')
	script(type='text/javascript', src='/javascripts/jquery-1.6.2.min.js')
	script(type='text/javascript', src='/javascripts/raphael-min.js')
	script(type='text/javascript', src='/nowjs/now.js')
	script(type='text/javascript', src='./browserify.js')
	script
		var app = require('./index');
