!!! 5

html

head
	meta(http-equiv="Content-type", content="text/html; charset=utf-8")
	title App

body!= body
	script(type='text/javascript', src='./browserify.js')
	script
		var app = require('./index');
