#messages
	ul
		li.title Mappers
div#scene
ul#instructions
	li Double-click in empty space to add a bubble
	li A bubble will be implictly connected to the last bubble you selected
	li Click and drag to move a bubble
	li Click a label to change the text
