body {
	background: #333;
	color: #AECC75;
}
	
#scene {
	width: 1024px;
	height: 768px;
	border: 5px solid #666;
}
	
form p { position:relative }
label  { position:absolute; top:0; left:0}

a{
	color: #AECC75;
}

a:hover{
 	color: #FFF;
}
