body {
	background: #333;
	color: #AECC75;
	font: 16px/1.5 Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif;
}

	
#scene {
	-moz-border-radius: 8px;
	border-radius: 8px;
	border:2px solid white;
	width: 1024px;
	height: 768px;
}

#container{
	width: 1000px:
}

#header{
	width:900px;
	margin-left:auto;
	margin-right:auto;
}

#main{
	width:1000px;
	margin:auto;
}

div.create-room{
	-moz-border-radius: 8px;
	border-radius: 8px;
	width: 400px;
	margin: auto;
	background-color: #666;
	border: 2px solid white;
	padding : 7px;
}

div.info-menu{
	position:absolute;
	top:200px;
	margin-left:200px;
	font-size:20px;
	font-weight:bold;
}

div.rooms{
	padding-left: 7px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	width: 400px;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	border: 2px solid white;
	background-color: #666;
}

div.rooms p{
	text-decoration:underline;
}

div#messages p{
	text-decoration:underline;
}

.center{margin:auto;}

#messages {
	position: absolute;
	left: 10px;
	top: 184px;
	width: 140px;
	height: 300px;
	padding-left: 7px;
	border: 2px solid white;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

#vote {
	position: absolute;
	left: 998px;
	top: 100px;
	height: 55px;
	border:0px;
}

#icon{
	text-align:left;
}

img#vote{
	text-align:left;
}

li.title {
	font-weight: bold;
}
	
form p { position:relative }
label  { position:absolute; top:0; left:0}

a{
	text-decoration:none;
	color: #AECC75;
}

a:hover{
 	color: #FFF;
}

li
{
	list-style-type: none;
}
